        body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
            text-align: center;
        }

        /* 固定头部 */
        #test-title {
            position: relative;
            background-image: url('images/dhl2.png');
            background-size: cover;
            background-position: center;
            color: transparent;
            width: 1300px;
            /* 固定宽度 */
            height: 140px;
            margin: 0 auto;
            /* 水平居中 */
            top: 5px;
            box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.05);
            z-index: 1;
        }

        /* 固定尾部 */
        h3 {
            width: 1300px;
            /* 固定宽度 */
            margin: 20px auto;
            /* 水平居中 */
            font-size: 18px;
            text-align: center;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        h1 {
            color: white;
        }


        .quiz-header {
            margin-bottom: 20px;
        }

        .quiz-header h1 {
            font-size: 24px;
        }

        .timer {
            font-size: 20px;
        }


        .questions p {
            font-size: 18px;
            text-align: center;
            /* 将文本居中对齐 */
            font-size: 18px;
        }

        .question-container label {
            font-size: 20px;
            font-weight: bold;

        }

        .centered-container {
            overflow: hidden;
            /* 溢出隐藏 */
            position: relative;
            width: 1180px;
            margin: 15px auto;
            padding: 0 60px 60px 60px;
            /* box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
            background-color: #fff; */
        }

        /* 问题容器的样式 */
        .question-container {
            position: relative;
            height: 161px;
            padding: 75px 0 30px;


            border: 1px solid #ccc;
            box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.3);
        }

        /* 问题文本的样式 */
        .question-text {
            font-weight: bold;
            font-size: 20px;
        }

        /* 按钮容器样式 */
        button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 18px;
            background-color: green;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            margin-top: 20px;
        }

        /* 按钮外部容器居中 */
        .button-container {
            width: 1300px;
            /* 固定宽度 */
            margin: 20px auto;
            /* 水平居中 */
            text-align: center;
            /* 居中对齐内部按钮 */
        }

        .result {
            margin-top: 20px;
            font-size: 18px;
        }
